<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emrah Bedir Futbol Akademisi</title>
    <meta name="description" content="Emrah Bedir Futbol Akademisi, futbol eğitimi konusunda uzmanlaşmış bir akademidir. Profesyonel futbol eğitmenleri ile genç futbolcuları destekliyoruz.">
    <meta name="keywords" content="Emrah Bedir, Futbol Akademisi, futbol eğitimi, futbol kursu, genç futbolcular">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://www.emrahbedir.com/">
    <meta name="geo.region" content="TR-33">
    <meta name="geo.placename" content="Anamur">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta name="author" content="Emrah Bedir">
    <meta name="language" content="Turkish">
    <meta property="article:author" content="Emrah Bedir">
    <meta property="article:publisher" content="Emrah Bedir Futbol Akademisi">
    <meta property="og:rating" content="Genel">
    <meta property="og:image" content="https://www.emrahbedir.com/img/logopng.png">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.emrahbedir.com/">
    <meta property="fb:app_id" content="https://www.facebook.com/Emrahbedirfanclup/?locale=tr_TR">
    <link rel="alternate" hreflang="en" href="https://www.emrahbedir.com/contact/">
    <meta name="theme-color" content="#ffffff">
    <meta name="copyright" content="Copyright © 2024, Emrah Bedir">
    <meta name="generator" content="HTML5">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="emrahbedirakademisi">
    <meta name="twitter:title" content="Emrah Bedir Futbol Akademisi">
    <meta name="twitter:description" content="Emrah Bedir Futbol Akademisi, futbol eğitimi konusunda uzmanlaşmış bir akademidir. Profesyonel futbol eğitmenleri ile genç futbolcuları destekliyoruz.">
    <meta name="twitter:image" content="https://www.emrahbedir.com/img/logopng.png">
    <meta property="og:title" content="Emrah Bedir Futbol Akademisi">
    <meta property="og:description" content="Emrah Bedir Futbol Akademisi, futbol eğitimi konusunda uzmanlaşmış bir akademidir. Profesyonel futbol eğitmenleri ile genç futbolcuları destekliyoruz.">
    <meta property="og:image" content="https://www.emrahbedir.com/img/logopng.png">
    <meta property="og:url" content="https://www.emrahbedir.com/">
    <meta property="og:type" content="website">
    <link rel="canonical" href="https://www.emrahbedir.com/">
    <!-- Favicons -->
    <link href="/WebUITheme/assets/img/logopng.png" rel="icon">
    <link href="/WebUITheme/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/WebUITheme/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/WebUITheme/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/WebUITheme/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/WebUITheme/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/WebUITheme/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/WebUITheme/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/WebUITheme/assets/css/style.css" rel="stylesheet">

    <style>
        .button-like {
            all: unset; /* Tüm varsayılan buton stillerini kaldırır */
            cursor: pointer; /* Tıklanabilir olduğunu belirtir */
            font-size: 16px; /* Yazı boyutu */
            margin-right: 10px; /* Yan yana durmaları için aralık */
        }

            .button-like:hover {
                color: white; /* Üzerine gelindiğinde yazı rengi beyaz olur */
                background-color: green; /* Üzerine gelindiğinde arka plan yeşil olur */
                text-decoration: none; /* Alt çizgiyi kaldırır */
                padding: 2px 4px; /* Yeşil arka planın yazıya uygun görünmesi için boşluk ekler */
                border-radius: 3px; /* Köşeleri biraz yuvarlar */
            }
    </style>

</head>

<body>

    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope-fill"></i><a href="mailto:@ViewBag.Iletisim.Email1">@ViewBag.Iletisim.Email1</a>
                <i class="bi bi-phone-fill phone-icon"></i><a href="tel:+905320656754"> +90 532 065 6754</a>
            </div>
            <div class="social-links d-none d-md-block">


                <a href="@ViewBag.Iletisim.Instagram" class="instagram"><i class="bi bi-instagram"></i></a>

            </div>
        </div>
    </section>

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center">

            <!--<h1 class="logo me-auto"><a href="index.html"><img src="/WebUITheme/assets/img/logopng.png" alt=""></a></h1>-->
            <!-- Uncomment below if you prefer to use an image logo -->

            <h1 class="logo me-auto"><a href="/Home" class="logo me-auto"><img src="/WebUITheme/assets/img/logopng.png" alt="" class="img-fluid"></a></h1>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Anasayfa</a></li>
                    <li><a class="nav-link scrollto" href="#about">Hakkımızda</a></li>
                    <li><a class="nav-link scrollto" href="#services">Hizmetler</a></li>
                    <li><a class="nav-link scrollto" href="#weekly">Haftalık Program</a></li>
                    <li><a class="nav-link scrollto" href="#forma">Formalarımız ve Sahamız</a></li>
                    <li><a class="nav-link scrollto" href="#aboutowner">Kurucumuz Özgeçmişi</a></li>
                    <li><a class="nav-link scrollto " href="#portfolio">Galeri</a></li>
                    <li><a class="nav-link scrollto" href="#team">Teknik Kadro</a></li>

                    <li><a class="nav-link scrollto" href="#contact">İletişim</a></li>

                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div id="heroCarousel" data-bs-interval="2000" class="carousel slide carousel-fade" data-bs-ride="carousel">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">
                @if (ViewBag.AnaSayfaBanner != null)
                {
                    @foreach (var item in ViewBag.AnaSayfaBanner)
                    {
                        <div class="carousel-item active" style="background-image: url(@item.FotografBuyuk)">
                            <div class="carousel-container">
                                <div class="container">
                                    <h2 class="animate__animated animate__fadeInDown">@Html.Raw(item.Baslik)</h2>
                                    <p class="animate__animated animate__fadeInUp">@Html.Raw(item.Metin)</p>
                                    <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Devamını Oku</a>
                                </div>
                            </div>
                        </div>
                    }
                }

            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>

        </div>
    </section><!-- End Hero -->
    <div style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36vh; /* Tüm pencere yüksekliği */
    text-align: center; /* Çok satırlı metinler için merkezleme */
">
        <h3>
            @ViewBag.Mesaj
        </h3>
    </div>

  

  <footer id="footer">
    <div class="container">
      <h3>Emrah Bedir Futbol Akademisi </h3>
      <p>Web Sitemizi İncelediğiniz için Teşekkürler...</p>
      <a href="/Login/Index">Kurumsal</a>
      <div class="social-links">

                <a href="https://www.instagram.com/emrahbedirfutbolakademi" class="instagram"><i class="bx bxl-instagram"></i></a>

      </div>
      <div class="copyright">
        &copy; Copyright <strong><span><a href="https://www.speedsoft.com.tr/" target="_blank">Speedsoft</a></span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/WebUITheme/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/WebUITheme/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/WebUITheme/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/WebUITheme/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/WebUITheme/assets/vendor/php-email-form/validate.js"></script>
    <script src="/WebUITheme/assets/js/jquery-2.2.4.min.js"></script>
  <!-- Template Main JS File -->
  <script src="/WebUITheme/assets/js/main.js"></script>
    <script type="text/javascript">
        function mesaj() {

            var telefon = "+905320656754";

            var options =
            {
                whatsapp: telefon, // WhatsApp numarası
                call_to_action: "Merhaba, nasıl yardımcı olabilirim?", // Görüntülenecek yazı
                position: "left", // Sağ taraf için 'right' sol taraf için 'left'
            };
            var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
            s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
            var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
        }
        $(document).ready(function () {
           mesaj();
        });
    </script>
  </body>

</html>