@{
    ViewData["Title"] = "İletişim";
    Layout = "~/Views/Shared/_LayoutWebUI.cshtml";
}

<main class="main">

    <!-- Page Title -->
    <div class="page-title light-background">
        <div class="container d-lg-flex justify-content-between align-items-center">
            <h1 class="mb-2 mb-lg-0">İletişim</h1>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="/Home">Ana Sayfa</a></li>
                    <li class="current">İletişim</li>
                </ol>
            </nav>
        </div>
    </div><!-- End Page Title -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

        <div class="container" data-aos="fade-up" data-aos-delay="100">
      
            <div class="mb-4" data-aos="fade-up" data-aos-delay="200">
                <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3224.9632972365443!2d32.833661874617384!3d36.06999929571929!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14dc3db41a180c97%3A0x37f51dea76f4bb9!2sG%C3%BCzelyurt%2C%2019%20May%C4%B1s%20Cd.%20No%3A12%2C%2033650%20Anamur%2FMersin!5e0!3m2!1str!2str!4v1756729037641!5m2!1str!2str" frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div><!-- End Google Maps -->

            <div class="row gy-4">

                <div class="col-lg-4">
                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                        <i class="bi bi-geo-alt flex-shrink-0"></i>
                        <div>
                            <h3>Adres</h3>
                            <p>@ViewBag.Iletisim.Adres</p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                        <i class="bi bi-telephone flex-shrink-0"></i>
                        <div>
                            <h3>Bizi Arayın</h3>
                            <p>Telefon: 0 @ViewBag.Iletisim.Telefon1</p>
                            <p>Mobil: 0 @ViewBag.Iletisim.Telefon2</p>
                            <p>Şirket Müdürü : 0 @ViewBag.Iletisim.Telefon3</p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
                        <i class="bi bi-envelope flex-shrink-0"></i>
                        <div>
                            <h3>Email</h3>
                            <p>@ViewBag.Iletisim.Email1</p>
                        </div>
                    </div><!-- End Info Item -->

                </div>

                <div class="col-lg-8">
                    <form action="/Contact/SendMessage" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
                        <div class="row gy-4">

                            <div class="col-md-6">
                                <input type="text" name="name" class="form-control" placeholder="Adınız Soyadınız" required="">
                            </div>

                            <div class="col-md-6 ">
                                <input type="email" class="form-control" name="email" placeholder="Email" required="">
                            </div>

                            <div class="col-md-12">
                                <input type="text" class="form-control" name="subject" placeholder="Konu" required="">
                            </div>

                            <div class="col-md-12">
                                <textarea class="form-control" name="message" rows="6" placeholder="Mesaj" required=""></textarea>
                            </div>

                            <div class="col-md-12 text-center">
                                <div class="loading">Yükleniyor</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Mesajınız gönderildi. Teşekkür ederiz!</div>

                                <button type="submit">Mesaj Gönder</button>
                            </div>

                        </div>
                    </form>
                </div><!-- End Contact Form -->

            </div>

        </div>

    </section><!-- /Contact Section -->

</main>
